@import '~antd/dist/antd.css';

.App {
  text-align: center;
  height: 100vh;
  font-size: 14px;
}

.ant-layout.ant-layout-has-sider {
  height: 100vh;
}

.ant-menu-inline .ant-menu-item::after {
  left: 0;
  right: unset;
}

.ant-btn-primary,
.ant-btn-link {
  font-size: 12px;
  font-weight: 600;
  height: 34px;
  border-radius: 9px;
}

.ant-divider-vertical {
  border-left: 1px solid #e8e8e8;
}

.ant-menu {
  color: #5c5c5c;
}

.ant-input {
  height: 36px;
  border-radius: 9px;
}

.ant-form label {
  font-size: 12px;
  font-weight: 600;
  color: #565656;
}

.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 9px;
  height: 36px;
  align-items: center;
}

.ant-picker {
  width: 100%;
  height: 36px;
  border-radius: 9px;
}

.ant-form-item {
  margin-bottom: 12px;
}