.project-calendar .fc .fc-col-header-cell-cushion {
    color: #5c5c5c;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    padding: 4px 0;
}

.project-calendar .fc .fc-daygrid-day-number {
    color: #5c5c5c;
    font-size: 12px;
    font-weight: 600;
}


.project-calendar .fc .fc-daygrid-day-top {
    flex-direction: row;
}

.project-calendar .fc-theme-standard td,
.project-calendar .fc-theme-standard th {
    border: 1px solid #f0f0f0;
    border-width: 1px 0 0 0;

}

.project-calendar .fc-scrollgrid {
    border: unset;
}

.project-calendar .fc-h-event {
    background-color: #eb2f96;
    border: 1px solid #eb2f96;
    box-shadow: 0 4px 6px #dcdcdc;
}

.project-calendar .fc .fc-toolbar.fc-header-toolbar {
    padding: 12px;
    margin: 0;
    background-color: #f7fcff;
    border-top: 1px solid #e8e8e8;
}

.project-calendar .fc .fc-toolbar-title {
    font-size: 14px;
}

.project-calendar .fc-toolbar-chunk {
    display: flex;
    align-items: center;
}

.project-calendar .fc .fc-button,
.project-calendar .fc .fc-button-primary:not(:disabled).fc-button-active,
.project-calendar .fc .fc-button-primary:hover {
    box-shadow: unset !important;
    line-height: 1.2;
    border: 1px solid transparent;
    border-color: #d9d9d9;
    background: #fff;
    color: #5c5c5c;
    border-radius: 9px;
    padding: 4px 8px;
}

.project-calendar .fc .fc-button .fc-icon {
    font-size: 1.2em;
}

.project-calendar .fc-direction-ltr .fc-toolbar>*> :not(:first-child) {
    margin-left: 8px;
}

.project-calendar .fc .fc-day-other .fc-daygrid-day-frame {
    background-color: #f7fcff;
}

.project-calendar .fc .fc-daygrid-day-frame {
    max-height: 40px;
    overflow-y: auto;
}

.project-calendar .fc-daygrid-block-event .fc-event-title {
    text-overflow: ellipsis;
    overflow: hidden;
}