.search-input.ant-input-affix-wrapper {
    border-radius: 6px;
    background-color: #fbfbfb;
    border: 1px solid #e8e8e8;
    height: 36px;
    align-items: center;
}

.search-input.ant-input-affix-wrapper>input.ant-input {
    background-color: #fbfbfb;
    font-weight: 500;
}

.search-input .ant-input {
    height: unset;
}

.icon-setting.ant-menu-item.ant-menu-item-only-child {
    position: absolute;
    bottom: 0;
}

.ant-menu .ant-menu-item-divider.divider-sider {
    margin: 14px 10px;
}

.text-fullname {
    font-weight: 600;
}

.text-position {
    font-size: 12px;
    font-weight: 500;
    color: rgb(111, 111, 111);
}

.kross-logo {
    height: 60px;
    transform: scale(1.5);
}

.navbar.ant-layout-header {
    line-height: 64px;
    height: auto;
}

.navbar.ant-layout-header {
    background: #fff;
    position: fixed;
    width: 100%;
    z-index: 10;
    padding: 0 24px;
    box-shadow: 0 2px 8px #8e8e8e2e;
}

.home-sider.ant-layout-sider {
    box-shadow: 0 2px 8px #f0f1f2;
    background: #fff;
    border-right: 1px solid rgba(0, 0, 0, .06);
    position: fixed;
    height: 100vh;
    z-index: 2;
}

.side-menu .ant-menu-title-content {
    display: contents;
}

.side-menu.ant-menu {
    height: 100%;
    border-right: 0px;
    padding-top: 4rem;
}

.content-layout.ant-layout {
    background-color: #fff;
    padding-top: 4rem;
}