.card-project-list .ant-card-head-title {
    align-items: center;
    display: flex;
}

.card-project-list {
    height: 100%;
}

.card-project-list .ant-card-body {
    padding: 0;
}

.card-project-list .ant-tabs>.ant-tabs-nav {
    padding: 0 12px;
    margin: 0;
}

.btn-group-filter button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-group-filter .ant-btn-compact-first-item {
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}

.btn-group-filter .ant-btn-compact-last-item {
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}

.list-project.ant-list-item {
    align-items: flex-start;
    padding: 12px;
}

.text-project {
    font-weight: 500;
}

.text-client {
    color: #6f6f6f;
    font-size: 12px;
    font-weight: 500;
}

.icon-project-share .anticon {
    color: #676767;
    padding: 0 2px;
}

.tag-project-list {
    font-size: 10px;
    padding: 0 3px;
    border-radius: 5px;
    margin-left: 4px;
    margin-right: 0;
}

.list-project {
    cursor: pointer;
}

.selected-list {
    border-left: 6px solid #1990ff;
}

.btn-group.ant-radio-button-wrapper:not(:first-child)::before {
    background-color: unset;
}

.btn-group {
    margin-right: 6px;
    color: #5c5c5c;
}

.btn-group.ant-radio-button-wrapper {
    border-radius: 9px;
    border-width: 1px;
}

.btn-group span {
    align-items: center;
    display: flex;
}

.btn-group-form .ant-radio-button-wrapper {
    flex: auto;
    height: 38px;
    line-height: 36px;
    justify-content: center;
    display: flex;
    font-size: 12px;
    font-weight: 600;
}

.btn-group-col-2.btn-group-form .ant-radio-button-wrapper {
    flex: 0 0 32%;
}

.btn-group-form {
    display: flex;
}

.drawer-content.ant-drawer {
    top: 64px;
    z-index: 5;
}

.drawer-content .ant-drawer-mask {
    background: unset;
}

.drawer-content .ant-drawer-header {
    border-bottom: unset;
}

.drawer-content .ant-drawer-body {
    padding: 12px 24px;
}

.drawer-content .ant-drawer-title {
    font-size: 20px;
}

.drawer-content .ant-drawer-title span+span {
    margin-left: 8px;
}